.entry-card {
    .card-header {
        h2 {
            margin-bottom: 0;
        }
    }
    .card-footer {
        .btn-sm {
            line-height: 1.6;
            padding: 0 0.5rem;
        }
    }
}
